body{
background-color: #ffffff;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 50px;
	color: black;

}
h2 {
    font-family: 'Open Sans', sans-serif;
	text-align:center;
	font-size: 20px;
	color: black;

}
h3 {
	font-family: 'Abril Fatface', cursive;
	font-size: 40px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}



div.background {
	background-image: url("leaves.jpg");
  .clearfix {
    overflow: auto;
  }

}
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
div.transbox h1 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
div.transbox h2 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}


@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}


@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
-----------
#navigation {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ffeaea;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

#nli {
    float: left;
}

#nli a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}


#nli a:hover {
    background-color: #ffd6d6;
}
.active {
  background-color: #ffe0e0;
}

#navigation {
  position: -webkit-sticky;
 position: sticky;
 top: 0;
}
